.inactivelanguage {
  color: #ffffff;
  background-color: #e1e2dc;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.inactive {
  color: #bbbbbb;
}
.title {
  font-size: 16px;
  font-weight: bold;
}
.Abkhazian {
  color: #ffffff;
  background-color: #f93636;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Afar {
  color: #ffffff;
  background-color: #ff0000;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Afrikaans {
  color: #ffffff;
  background-color: #e13030;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Akan {
  color: #ffffff;
  background-color: #d52d2d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Albanian {
  color: #ffffff;
  background-color: #c92a2a;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Amharic {
  color: #ffffff;
  background-color: #bd2828;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Arabic {
  color: #ffffff;
  background-color: #b12525;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Armenian {
  color: #ffffff;
  background-color: #991f1f;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Assamese {
  color: #ffffff;
  background-color: #8e1d1d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Asturian {
  color: #ffffff;
  background-color: #8e1d1d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Avar {
  color: #ffffff;
  background-color: #8e1d1d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Avestan {
  color: #ffffff;
  background-color: #e830a7;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Aymara {
  color: #ffffff;
  background-color: #e02ea1;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Azerbaijani {
  color: #ffffff;
  background-color: #d92c9c;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Bambara {
  color: #ffffff;
  background-color: #d12b97;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Bashkir {
  color: #ffffff;
  background-color: #ca2991;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Basque {
  color: #ffffff;
  background-color: #c2278c;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Belarusian {
  color: #ffffff;
  background-color: #c2278c;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Bengali {
  color: #ffffff;
  background-color: #b32481;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Bhutani {
  color: #ffffff;
  background-color: #b32481;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Bihari {
  color: #ffffff;
  background-color: #ac227c;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Bislama {
  color: #ffffff;
  background-color: #a52177;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Bosnian {
  color: #ffffff;
  background-color: #9d1f71;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Breton {
  color: #ffffff;
  background-color: #b92bf2;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Bulgarian {
  color: #ffffff;
  background-color: #b22fe6;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Burmese {
  color: #ffffff;
  background-color: #ab33da;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Cambodian {
  color: #ffffff;
  background-color: #ab33da;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Catalan {
  color: #ffffff;
  background-color: #a438cf;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Chamorro {
  color: #ffffff;
  background-color: #9640b7;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Chechen {
  color: #ffffff;
  background-color: #9640b7;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Chichewa {
  color: #ffffff;
  background-color: #8849a0;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Chuvash {
  color: #ffffff;
  background-color: #73567d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Cornish {
  color: #ffffff;
  background-color: #73567d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Corsican {
  color: #ffffff;
  background-color: #73567d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Cree {
  color: #ffffff;
  background-color: #73567d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Croatian {
  color: #ffffff;
  background-color: #73567d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Czech {
  color: #ffffff;
  background-color: #73567d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Danish {
  color: #ffffff;
  background-color: #73567d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Dutch {
  color: #ffffff;
  background-color: #73567d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Esperanto {
  color: #ffffff;
  background-color: #67627e;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Estonian {
  color: #ffffff;
  background-color: #3089f4;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Ewe {
  color: #ffffff;
  background-color: #2a81ea;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Faeroese {
  color: #ffffff;
  background-color: #257ae0;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Fiji {
  color: #ffffff;
  background-color: #2073d7;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Filipino {
  color: #ffffff;
  background-color: #2073d7;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Finnish {
  color: #ffffff;
  background-color: #1a6bcd;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.French {
  color: #ffffff;
  background-color: #b6c1d9;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Frisian {
  color: #ffffff;
  background-color: #b6c1d9;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Fulah {
  color: #ffffff;
  background-color: #105dba;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Galician {
  color: #ffffff;
  background-color: #0a55b1;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Georgian {
  color: #ffffff;
  background-color: #00479e;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.German {
  color: #ffffff;
  background-color: #000000;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Greek {
  color: #ffffff;
  background-color: #ac8f6a;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Greenlandic {
  color: #ffffff;
  background-color: #ac8f6a;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Guarani {
  color: #ffffff;
  background-color: #ac8f6a;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Gujarati {
  color: #ffffff;
  background-color: #ac8f6a;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Hausa {
  color: #ffffff;
  background-color: #339591;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Hebrew {
  color: #ffffff;
  background-color: #27666d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Herero {
  color: #ffffff;
  background-color: #3f8683;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Hindi {
  color: #ffffff;
  background-color: #457e7c;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Hungarian {
  color: #ffffff;
  background-color: #506f6e;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Icelandic {
  color: #ffffff;
  background-color: #24c419;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Indonesian {
  color: #ffffff;
  background-color: #2eac25;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Interlingua {
  color: #ffffff;
  background-color: #31a429;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Irish {
  color: #ffffff;
  background-color: #3f843a;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Japanese {
  color: #ffffff;
  background-color: #ee3b3b;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Javanese {
  color: #ffffff;
  background-color: #c9c31a;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Kannada {
  color: #ffffff;
  background-color: #b9b31e;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Kashmiri {
  color: #ffffff;
  background-color: #a9a422;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Kazakh {
  color: #ffffff;
  background-color: #a19d25;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Kinyarwanda {
  color: #ffffff;
  background-color: #918e29;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Komi {
  color: #ffffff;
  background-color: #827f2e;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Kongo {
  color: #ffffff;
  background-color: #7a7730;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Kurdish {
  color: #ffffff;
  background-color: #d4a929;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Kwanyama {
  color: #ffffff;
  background-color: #dcad1f;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Latin {
  color: #ffffff;
  background-color: #c4a23d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Latvian {
  color: #ffffff;
  background-color: #bb9e46;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Lingala {
  color: #ffffff;
  background-color: #ab975a;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Lithuanian {
  color: #ffffff;
  background-color: #a39364;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Macedonian {
  color: #ffffff;
  background-color: #e57f12;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Malayalam {
  color: #ffffff;
  background-color: #da8c39;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Maltese {
  color: #ffffff;
  background-color: #d69046;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Manx {
  color: #ffffff;
  background-color: #d29554;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Māori {
  color: #ffffff;
  background-color: #cf9961;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Marathi {
  color: #ffffff;
  background-color: #cb9e6e;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Moldavian {
  color: #ffffff;
  background-color: #c4a789;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Mongolian {
  color: #ffffff;
  background-color: #c0ab96;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Nepali {
  color: #ffffff;
  background-color: #383838;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Oriya {
  color: #ffffff;
  background-color: #5da100;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Pali {
  color: #ffffff;
  background-color: #5da100;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Pashto {
  color: #ffffff;
  background-color: #5da100;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Persian {
  color: #ffffff;
  background-color: #005da1;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Polish {
  color: #ffffff;
  background-color: #005da1;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Portuguese {
  color: #ffffff;
  background-color: #d60000;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Punjabi {
  color: #ffffff;
  background-color: #d60000;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Quechua {
  color: #ffffff;
  background-color: #d60000;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Rhaeto-Romance {
  color: #ffffff;
  background-color: #d60000;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Russian {
  color: #ffffff;
  background-color: #abcc27;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Samoan {
  color: #ffffff;
  background-color: #a15d00;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Sango {
  color: #ffffff;
  background-color: #a15d00;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Sanskrit {
  color: #ffffff;
  background-color: #00a15d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Sardinian {
  color: #ffffff;
  background-color: #7975b5;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Scots {
  color: #ffffff;
  background-color: #7975b5;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Serbian {
  color: #ffffff;
  background-color: #94959c;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Serbo-Croatian {
  color: #ffffff;
  background-color: #727fa1;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Sesotho {
  color: #ffffff;
  background-color: #727fa1;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Setswana {
  color: #ffffff;
  background-color: #727fa1;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Shona {
  color: #ffffff;
  background-color: #6f8497;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Sindhi {
  color: #ffffff;
  background-color: #727fa1;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Sinhala {
  color: #ffffff;
  background-color: #659379;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Siswati {
  color: #ffffff;
  background-color: #60b355;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Slovak {
  color: #ffffff;
  background-color: #60b355;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Slovenian {
  color: #ffffff;
  background-color: #cd950c;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Spanish {
  color: #ffffff;
  background-color: #0000ee;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Sudanese {
  color: #ffffff;
  background-color: #58a851;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Swahili {
  color: #ffffff;
  background-color: #55bf54;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Swedish {
  color: #ffffff;
  background-color: #66cdaa;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Tagalog {
  color: #ffffff;
  background-color: #6ca757;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Tahitian {
  color: #ffffff;
  background-color: #789b58;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Tajik {
  color: #ffffff;
  background-color: #789b58;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Tamil {
  color: #ffffff;
  background-color: #8f835b;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Tatar {
  color: #ffffff;
  background-color: #9b775d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Telugu {
  color: #ffffff;
  background-color: #9b775d;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Thai {
  color: #ffffff;
  background-color: #b35f60;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Tibetan {
  color: #ffffff;
  background-color: #b35f60;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Tigrinya {
  color: #ffffff;
  background-color: #ca4863;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Tonga {
  color: #ffffff;
  background-color: #279da5;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Tsonga {
  color: #ffffff;
  background-color: #279da5;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Turkish {
  color: #ffffff;
  background-color: #9a32cd;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Turkmen {
  color: #ffffff;
  background-color: #5f986f;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Twi {
  color: #ffffff;
  background-color: #5f986f;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Ukrainian {
  color: #ffffff;
  background-color: #989439;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Urdu {
  color: #ffffff;
  background-color: #ab9227;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Uyghur {
  color: #ffffff;
  background-color: #ab9227;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Uzbek {
  color: #ffffff;
  background-color: #be9115;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Venda {
  color: #ffffff;
  background-color: be9115#;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Vietnamese {
  color: #ffffff;
  background-color: #be9115;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Welsh {
  color: #ffffff;
  background-color: #ce8b50;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Wolof {
  color: #ffffff;
  background-color: #af7584;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Xhosa {
  color: #ffffff;
  background-color: #af7584;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Yiddish {
  color: #ffffff;
  background-color: #af7584;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Yoruba {
  color: #ffffff;
  background-color: #af7584;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Zhuang {
  color: #ffffff;
  background-color: #905fb8;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Zulu {
  color: #ffffff;
  background-color: #905fb8;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.English {
  color: #ffffff;
  background-color: #468847;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Romanian {
  color: #ffffff;
  background-color: #66cd00;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Spanish {
  color: #ffffff;
  background-color: #0000ee;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
.Italian {
  color: #ffffff;
  background-color: #94564a;
  padding: 1px 5px 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
